{% extends "base.html" %}
{% block content %}
  <h1>Kategoriat</h1>

  <!-- Kategorioiden lisäys adminille -->
  {% if user.admin %}
  <p><a href="{{base_path}}/kategoriat/uusi" class="btn btn-success">Lisää kategoria</a></p>
  {% endif %}

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Kuvaus</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan kategoriat tähän -->
      {% for kategoria in kategoriat %}
        <tr>
          <td><a href="{{base_path}}/tuotteet/kategoria/{{kategoria.id}}">{{kategoria.nimi}}</a></td>
          <td>{{kategoria.kuvaus}}</td>

          <!-- Poisto vain adminille -->
          {% if user.admin %}
            
            <!--<th><a class="btn btn-default btn-sm" href="{{base_path}}/kategoriat/{{kategoria.id}}/muokkaa">Muokkaa</a></th>-->
            <td>
              <form method="post" action="{{base_path}}/kategoriat/{{kategoria.id}}/poista">
                <button type="submit" class="btn btn-danger">Poista</button>  
              </form>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
    
  </table>
{% endblock %}
