{% extends "base.html" %}
{% block content %}
  <h1>Kirjaudu sisään</h1>
  {% if viesti %}
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>{{viesti}}</strong>
    </div>
  {% endif %}
  <!-- Kaikki lomakkeen elementit form-tagin sisään -->
  <form form method="post" action="{{base_path}}/kirjautuminen">
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input name="tunnus" class="form-control" type="text">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
      <label>Salasana</label>
      <input name="salasana" class="form-control" type="password">
    </div>
    <div class="">
        
    </div>
    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
    <div>{{error}}</div>
    
  </form>
  <div>
      <p>
          Etkö ole vielä rekisteröitynyt?
      </p>
      <a class="btn btn-default" href="/rekisterointi" role="button">Rekisteröidy!</a>
  </div>
  
{% endblock %}
