{% extends "base.html" %}
{% block content %}
  <h1>Tuotelista</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää tuote</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Kaupan alkamispäivä</th>
        <th>Kaupan sulkemispäivä</th>
        <th>Minimihinta</th>
        <th>Korkein tarjous</th>
        
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      {% for tuote in tuotteet %}
      <tr>
        <td><a href="{{base_path}}/tuotteet/{{tuote.id}}">Uuni</a></td>
        <td>{{tuote.kaupanAlku}}</td>
        <td>{{tuote.kaupanLoppu}}</td>
        <td>{{tuote.minimihinta}}</td>
        <td>50.5 €</td>
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/tuotteet/{{tuote.id}}">Muokkaa</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}