{% extends "base.html" %}
{% block content %}
<h1>{{tuote.nimi}}</h1>


<!-- Poisto ja muokkaus painikkeet -->
<p>
    <form method="post" action="{{base_path}}/tuotteet/{{tuote.id}}/poista" class="form-inline">
        <button type="submit" class="btn btn-danger">Poista</button> 
        <a href="{{base_path}}/tuotteet/{{tuote.id}}/muokkaa" class="btn btn-default">Muokkaa</a>
    </form>
    
</p>

<!--Kuva tuottesta-->
<div>
    Tähän tulisi kuva
    <!--<img src="http://www.veneilijanverkkokauppa.fi/images/wallas_uuni87D.jpg">-->
</div>

<!-- Tiedot tulee listana tähän -->
<h4>Kategoriat</h4>
<ul>
    {% for kategoria in kategoriat %}
        <li><a href="{{base_path}}/tuotteet/kategoria/{{kategoria.id}}">{{kategoria.nimi}}</a></li>
    {% endfor %}
    
</ul>
<h4>Tuotteen tiedot</h4>
<ul>
    
    <li><strong>Kaupan aloituspäivä: </strong>{{tuote.kaupanAlku}}</li>
    <li><strong>Kaupan lopetuspäivä: </strong>{{tuote.kaupanLoppu}}</li>
    <li><strong>Lisäyspäivä: </strong>{{tuote.lisaysaika}}</li>
    <li><strong>Minimihinta: </strong>{{tuote.minimihinta}} €</li>
    <li><strong>Meklari: </strong> {{tuote.meklari}}</li>
</ul>

<!-- Kuvaus tulee tähän -->
<div style="border: 1px solid grey">
    <p>{{tuote.kuvaus}}</p>
</div>


<!--Aikaisemmat tarjoukset-->
<p>
    <h4>Voittava tarjous: <small>{{tarjoukset[0].maara}} €</small></h4>
    <div class="form-group">
      <label>Tarjoukset</label>
      <select class="form-control" name="tarjoukset">
        {% for tarjous in tarjoukset %}
          <option value="{{tarjous.id}}">{{tarjous.maara}} €, {{tarjous.aika}}</option>
        {% endfor %}
      </select>
    </div>
</p>

<!--Tarjouksen teko-->
<form method="post" action="{{base_path}}/tuotteet/{{tuote.id}}/tarjoa" class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">€</div>
            <input name="maara" type="text" class="form-control" id="exampleInputAmount">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Tee tarjous</button>
</form>

{% endblock %}




