{% extends "base.html" %}
{% block content %}
<h1>{{tuote.nimi}}</h1>


<!-- Poisto ja muokkaus painikkeet -->
<p>
    <form method="post" action="{{base_path}}/tuotteet/{{tuote.id}}/poista">
        <button type="submit" class="btn btn-danger">Poista</button>  
    </form>
    <a href="{{base_path}}/tuotteet/{{tuote.id}}/muokkaa" class="btn btn-default">Muokkaa</a>
</p>

<!--Kuva tuottesta-->
<div>
    Tähän tulisi kuva
    <!--<img src="http://www.veneilijanverkkokauppa.fi/images/wallas_uuni87D.jpg">-->
</div>

<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Tuotekategoriat:</strong> kodinkoneet, käytetyt</li>
    <li><strong>Kaupan aloituspäivä:</strong>{{tuote.kaupanAlku}}</li>
    <li><strong>Kaupan lopetuspäivä:</strong><{{tuote.kaupanLoppu}}</li>
    <li><strong>Lisäyspäivä:</strong>{{tuote.lisaysaika}}</li>
    <li><strong>Minimihinta:</strong>{{tuote.minimihinta}} €</li>
    <li><strong>Meklari:</strong> {{tuote.meklari}}</li>
</ul>

<!-- Kuvaus tulee tähän -->
<div style="border: 1px solid grey">
    <p>{{tuote.kuvaus}}</p>
</div>


<!--Tarjouksenteko kaavake-->
<p>
    <h4>Voittava tarjous: <small>50€</small></h4>
</p>
<form class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">€</div>
            <input type="text" class="form-control" id="exampleInputAmount">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Tee tarjous</button>
</form>

{% endblock %}




